<div class="container p-5">


    <div class="card p-5">
        <div class="card-body">
            <h1 class="text-center">Archivo exitosamente guardado</h1>

            <a href="/">Volver a subir otra imagen</a>

        </div>
    </div>

</div>