<form method="post" action="/image" class="container p-5">
    <div class="mb-3">

        <input type="text" class="form-control" id="fomrulario" name="url" placeholder="Ingresa la url a guardar">
    </div>
    <div class="mb-3">
        <button type="submit" class="btn btn-primary">Guardar Imagen</button>
    </div>
</form>